apiVersion: v1
kind: Secret
metadata:
  name: fasttrack-postgres-secret
  namespace: default
  labels:
    app.kubernetes.io/part-of: fasttrack
type: Opaque
stringData:
  postgres-password: "CHANGE_ME_TO_SECURE_PASSWORD"
