apiVersion: v1
kind: Secret
metadata:
  name: triprank-secrets
type: Opaque
stringData:
  database-url: "host=postgres-service user=postgres password=CHANGE_ME dbname=triprank port=5432 sslmode=require"
